<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>card page</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/products.css" />
    <link rel="stylesheet" href="../css/book.css" />

    <link rel="stylesheet" href="../css/card.css" />
  </head>
  <body dir="rtl">
    <!-- header start -->
    <header>
      <div class="section-list">
        <nav>
          <ul class="header-items">
            <div class="header-item">
              <img
                src="../images/svgs/person.svg"
                alt="person icon"
                style="width: 20px; height: 20px"
              />
              <li>
                <a href="#">
                  <span
                    class="show-signup-model"
                    onclick="show_signup_model_fun()"
                  >
                    سجل الان</span
                  >
                  <span>أو</span>
                  <span
                    class="show-login-model"
                    onclick="show_login_model_fun()"
                    >ادخل لحسابك</span
                  >
                </a>
              </li>
            </div>
            <div class="header-item">
              <img
                src="../images/svgs/mainPage.svg"
                alt="star icon"
                style="width: 20px; height: 20px"
              />
              <li><a href="../index.html">الرئيسية</a></li>
            </div>
            <div class="header-item">
              <img
                src="../images/svgs/whoAreWe.svg"
                alt="who are we policy icon"
                style="width: 20px; height: 20px"
              />
              <li><a href="#">من نحن</a></li>
            </div>
            <div class="header-item">
              <img
                src="../images/svgs/callUs.svg"
                alt="call Usicon"
                style="width: 20px; height: 20px"
              />
              <li><a href="#">اتصل بنا</a></li>
            </div>
            <div class="header-item">
              <img
                src="../images/svgs/help.svg"
                alt="help icon"
                style="width: 20px; height: 20px"
              />
              <li><a href="#">المساعدة</a></li>
            </div>
            <div class="header-item">
              <img
                src="../images/svgs/privacyPolicy.svg"
                alt="privacy policy icon"
                style="width: 20px; height: 20px"
              />
              <li><a href="#">سياسةالخصوصية</a></li>
            </div>
            <div class="header-item">
              <img
                src="../images/svgs/saudia.svg"
                alt="country icon"
                style="width: 20px; height: 20px"
              />
              <li><a href="#">اليمن</a></li>
              <li><a dir="ltr" href="#">YER</a></li>
            </div>
            <div dir="ltr" class="header-item">
              <img
                src="../images/svgs/EnglishArabic.svg"
                alt="English to arabic icon"
                style="width: 20px; height: 20px"
              />
              <li>English</li>
            </div>
          </ul>
          <label id="sandwish">
            <img src="../images/svgs/sandwish.svg" style="width: 20px" alt="" />
          </label>
          <!-- <label id="close-nav">
            <img src="../images/svgs/xsandwish.svg" style="width: 20px" alt="" />
          </label> -->
        </nav>
      </div>
      <div class="search-header">
        <a class="logo" href="../index.html">
          <img
            src="../images/svgs/logo.svg"
            alt=""
            style="width: 180px; height: 50px"
          />
        </a>
        <div class="search-section">
          <div class="search-bar">
            <input id="search" type="search" placeholder="البحث" type="text" />
            <div class="search-icon">
              <img
                src="../images/svgs/search.svg"
                alt=""
                style="width: 20px; height: 20px"
              />
            </div>
          </div>

          <a class="basket" href="card.html">
            <img
              src="../images/svgs/red-basket.svg"
              style="width: 35px; height: 35px"
              alt="red basket"
            />
            <div class="button__badge">
              <div class="badge">0</div>
            </div>
          </a>
          <div class="change-language">
            <button onclick='changeLanguage("en")'>English</button>
            <button onclick='changeLanguage("ar")'>عربي</button>
          </div>
        </div>
      </div>
    </header>
    <!-- end header -->

    <!-- signup and login start -->
    <section>
      <div class="signup-model">
        <!-- login and sign up section start -->
        <div class="login-signup">
          <div class="signup">
            <div class="exit" onclick="exit_fun()">
              <img
                src="../images/svgs/x.svg
              "
                style="width: 20px"
                alt=""
              />
            </div>
            <h1 class="login-title">إنشاء حساب</h1>
            <form id="signup-form" class="signup-form">
              <div class="two-input">
                <div class="input-wrap">
                  <input name="number" type="tel" />
                  <label for="name">رقم الجوال</label>
                </div>
                <div class="input-wrap">
                  <label for="">رمز البلد</label>
                  <select>
                    <option>+967</option>
                    <option>+966</option>
                  </select>
                </div>
              </div>
              <p>سوف نرسل لك رمز التحقق عن طريق رسالة نصية</p>

              <div class="input-wrap">
                <label for="password">ارسال رمز التحقق</label>
                <input type="password" name="password" />
              </div>

              <div class="input-wrap">
                <label for="password">الاسم الاول</label>
                <input type="password" name="password" />
              </div>

              <div class="input-wrap">
                <label for="password">اسم العائله</label>
                <input type="password" name="password" />
              </div>

              <div class="input-wrap">
                <label for="password">البريد الالكتروني</label>
                <input type="password" name="password" />
              </div>

              <div class="input-wrap">
                <label for="password">تاكيد البريد الالكتروني</label>
                <input type="password" name="password" />
              </div>
              <div class="input-wrap">
                <label for="password">كلمة السر</label>
                <input type="password" name="password" />
              </div>

              <div class="checkbox-div">
                <input type="checkbox" />
                <p>أوافق على الشروط والأحكام</p>
              </div>
              <div class="checkbox-div">
                <input type="checkbox" />

                <p>التسجيل للانضمام للنشرة البريدية</p>
              </div>

              <button>انشاء حساب</button>
            </form>
          </div>
        </div>
        <!-- login and sign up section start end -->
      </div>
      <div class="login-model">
        <div class="login-signup">
          <div class="login">
            <div class="exit" onclick="exit_fun()">
              <img
                src="../images/svgs/x.svg
              "
                style="width: 20px"
                alt=""
              />
            </div>
            <h1 class="login-title">تسجيل الدخول</h1>
            <form id="login-form" class="login-form">
              <div class="input-wrap">
                <input
                  name="email"
                  type="email"
                  title="البريد الالكتروني أو رقم الجوال"
                />
                <label for="name">البريد الالكتروني أو رقم الجوال</label>
              </div>
              <div class="input-wrap">
                <label for="password">كلمة السر</label>
                <input type="password" name="password" />
                <p class="forget">نسيت؟</p>
              </div>
              <button>تسجيل الدخول</button>
            </form>

            <div class="go-to-signup">
              <p>ليس لديك حساب؟</p>
              <p class="new-account-button">انشاء حساب جديد</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- signup and login end -->
    <!-- start main -->
    <main>
      <div class="container basket-prices active">
        <div class="title-basket">
          <img src="../images/svgs/gray-basket.svg" alt="" />

          <h2>السلّة</h2>
        </div>

        <div class="card-content">
          <div class="products"></div>

          <div class="total-price">
            <div>
              <div class="total-price-row total-row">
                <p>المجموع</p>
                <p id="total">0</p>
              </div>
              <div class="total-price-row shiping-row">
                <p>تكاليف الشحن</p>
                <p id="shipping-price">مجاني</p>
              </div>
              <div class="total-price-row final-total-row">
                <p>المجموع الكلي</p>
                <p id="final-total-price">0</p>
              </div>
            </div>
            <div class="total-price-button">
              <button>
                <a href="checkout.html"> تحديث سلة التسوق</a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- footer start -->
    <footer>
      <div class="footer-lists">
        <div class="container">
          <ul class="footer__nav" dir="rtl">
            <li class="nav__item">
              <h2 class="nav__title">انضم الى نشرتنا البريدية</h2>
              <form>
                <input
                  id="icon"
                  type="text"
                  disabled
                  placeholder="ادخل البريد الابكتروني"
                />
                <button class="footer__btn" dir="ltr">اشتراك</button>
              </form>
              <h2 class="nav__title">تواصل معنا</h2>

              <ul class="nav__ul pages_links">
                <li>
                  <a href="#">
                    <img
                      src="../images/svgs/facebook.svg"
                      style="width: 20px; height: 20px"
                      alt=""
                  /></a>
                </li>

                <li>
                  <a href="#">
                    <img
                      src="../images/svgs/twitter.svg"
                      style="width: 20px; height: 20px"
                      alt=""
                  /></a>
                </li>

                <li>
                  <a href="#">
                    <img
                      src="../images/svgs/youtube.svg"
                      style="width: 20px; height: 20px"
                      alt=""
                  /></a>
                </li>

                <li>
                  <a href="#">
                    <img
                      src="../images/svgs/linkedin.svg"
                      style="width: 20px; height: 20px"
                      alt=""
                  /></a>
                </li>

                <li>
                  <a href="#">
                    <img
                      src="../images/svgs/sanpchat.svg"
                      style="width: 20px; height: 20px"
                      alt=""
                  /></a>
                </li>

                <li>
                  <a href="#">
                    <img
                      src="../images/svgs/tiktok.svg"
                      style="width: 20px; height: 20px"
                      alt=""
                  /></a>
                </li>
              </ul>
            </li>

            <li class="nav__item">
              <h2 class="nav__title">خدمة العملاء</h2>

              <ul class="nav__ul">
                <li>
                  <a href="#">مبيعات الشركات</a>
                </li>

                <li>
                  <a href="#">الأسئلة المتكرر</a>
                </li>

                <li>
                  <a href="#">دليل التسوق والمطبوعات</a>
                </li>

                <li>
                  <a href="#">مواقع المعارض</a>
                </li>

                <li>
                  <a href="#">سياسةالضمان</a>
                </li>

                <li>
                  <a href="#">سياسة الاسترجاع والاستبدال</a>
                </li>
                <li>
                  <a href="#">اتصل بنا </a>
                  <p>920000089</p>
                </li>
              </ul>
            </li>

            <li class="nav__item">
              <h2 class="nav__title">خدمات جرير</h2>

              <ul class="nav__ul">
                <li>
                  <a href="#">خدمة تقسيط المشتريات</a>
                </li>

                <li>
                  <a href="#">خدمات مابعد البيع</a>
                </li>

                <li>
                  <a href="#">خدمة الحماية الشاملة</a>
                </li>
                <li>
                  <a href="#">خدمة أجهزة ابل</a>
                </li>

                <li>
                  <a href="#">بطاقة خصم جرير</a>
                </li>

                <li>
                  <a href="#">بطاقة جرير للهدايا</a>
                </li>
              </ul>
            </li>

            <li class="nav__item">
              <h2 class="nav__title">روابط سريعة</h2>

              <ul class="nav__ul">
                <li>
                  <a href="#">اصدارات جرير</a>
                </li>

                <li>
                  <a href="#">قارئ جرير</a>
                </li>

                <li>
                  <a href="#">شركاء برامج المكافئات</a>
                </li>
                <li>
                  <a href="#">خدمات شركات الاتصالات</a>
                </li>

                <li>
                  <a href="#">بطاقة خصم جرير</a>
                </li>

                <li>
                  <a href="#">بطاقة جرير للهدايا</a>
                </li>
              </ul>
            </li>

            <li class="nav__item">
              <h2 class="nav__title">عن جرير</h2>

              <ul class="nav__ul">
                <li>
                  <a href="#">من نحن</a>
                </li>

                <li>
                  <a href="#">الحوكمة</a>
                </li>

                <li>
                  <a href="#">علاقات المستثمرين والتقارير</a>
                </li>
                <li>
                  <a href="#">الاستدامة</a>
                </li>

                <li>
                  <a href="#">الأخبار</a>
                </li>
              </ul>
              <h2 class="nav__title">فرص العمل</h2>
            </li>
          </ul>
        </div>
      </div>

      <div class="container">
        <div class="footer-copy-write">
          <div class="copy-write">
            <p>سياسة الخصوصية | شروط الخدمة</p>
            <p>
              جميع الحقوق محفوظة لمكتبة جرير<span>&copy;</span> 2015. س.ت.
              1010032264. اونلاين س.ت. 1010654213
            </p>
          </div>
          <div dir="rtl" class="payment-options">
            <img src="../images/American-Express-Logo.png" alt="" />
            <img src="../images/Mastercard-logo.svg.png" alt="" />
            <img src="../images/Visa-Logo.png" alt="" />
            <img src="../images/1024px-Mada_Logo.svg.png" alt="" />
          </div>
        </div>
      </div>
    </footer>
    <!-- footer end -->

    <script src="../js/card.js"></script>
    <script src="../js/scripts.js"></script>
  </body>
</html>

<
